.im-c-cross-hair {
	position: absolute;
  top: 0;
	left: 0;
	pointer-events: none;
	margin: -19px 0 0 -19px;
}

.im-c-cross-hair path {
	stroke-width: 3;
	stroke: var(--map-overlay-halo-color);
	fill: var(--map-overlay-foreground-color);
	paint-order: stroke fill;
}