.im-c-open-map-button {
  font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: inline-flex;
  text-decoration: none;
  border: 1px solid #505a5f;
  white-space: nowrap;
  padding: 10px;
  svg + span {
      padding-left: 8px;
  }
  span {
    color: #1d70b8;
  }
  &:hover {
    background-color: #f3f2f1;
  }
  &:active span {
    color: #0b0c0c;
  }
  &:focus {
    border-color: rgba(0, 0, 0, 0);
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;

    span {
      color: #0b0c0c;
    }
  }
}