:root {
    // Gaps
    --primary-gap: 15px;
    --divider-gap: 10px;

    // Button size
    --button-size: 40px;
    --icon-size: 24px;
    --button-padding: 8px;
    --button-icon-label-offset: 7px;
    --label-button-padding: 10px;
    --touch-button-size: 50px;

    // Borders and focus
    --app-border-width: 1px;
    --button-border-radius: 0px; // 4px;
    --panel-border-radius: 0px; // 8px;
    --focus-border-width: 3px;
    --focus-outline-width: 3px;

    // Modal offset placeholders (These are set with JS)
    --modal-offset-top: 0px;
    --modal-offset-right: 0px;

    // Tooltips
    --tooltip-padding: 10px;
    --tooltip-offset: 10px;
    --tooltip-arrow-size: 8px;
    --tooltip-font-size: 14px;
    --tooltip-border-radius: 3px;

    // Panels
    --min-panel-width: 260px;
    --panel-close-button-gap: 4px;
    --panel-heading-margin-top: 12px;
    --panel-margin: 15px;
    --banner-close-button-gap: 0px;
    --banner-max-desktop-width: 400px;
    --banner-collapse-margin: 14px;

    // Popup menu
    --popup-menu-min-width: 200px;
    --popup-menu-max-width: 300px;

    // Action bar (Needs to fit evently if tools are in right hand column)
    --action-bar-max-width: calc(100% - (var(--button-size) * 2) - (var(--primary-gap) * 4));

    // Attributions
    --attributions-padding: 2px 5px;
    --attributions-font-size: 12px;
}