:root {
  // --font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  --font-family: gds transport,arial,sans-serif;
  --font-size: 16px;
  --line-height: 1.25em;
}