@use '../../../scss/tools/index' as tools;

// ===================================================
// Component: Features
// ===================================================

.im-c-features {
  position: absolute;
  inset: 0;
  pointer-events: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @include tools.border-focus-base(
    $is-inset: true
  );
}
