@use '../../../scss/tools/index' as tools;

.im-c-attributions {
    color: var(--attributions-foreground-color);
    background-color: var(--attributions-background-color);
    padding: var(--attributions-padding);
    font-size: var(--attributions-font-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: auto;
}

.im-c-attributions a {
    color: inherit;

    &[data-focus-visible="true"] {
        @include tools.link-focus;
    }
}