/* Custom styles for the Interactive Map docs site */

.app-section {
  padding: 40px 0;
}

.govuk-template__body.app-homepage .govuk-template__body-inner {
  background-color: #f4f8fb;
}

.app-section {
  background-color: #ffffff;
}

.app-section--features {
  background-color: #f4f8fb;
  border-bottom: 1px solid #8eb8dc;
}

.app-prose-scope .app-section--features p:not(.app-no-prose *) {
  margin-bottom: 0;
}

.app-section--features .govuk-grid-column-one-third:not(:first-child) {
  margin-top: 30px;

  @media (min-width: 48.125em) {
    margin-top: 0;
  }
}


