// ===================================================
// Object: im-o-app
// ===================================================

@use '../../scss/tools/index' as tools;

// 1. Base styles
.im-o-app {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;

  touch-action: none;
}

// 2. Elements
.im-o-app__overlay {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 0;

  visibility: visible;
  opacity: 1;

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity var(--duration) ease-in;
  }
}

.im-o-app__side {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
  flex-shrink: 0;
  height: 100%;
}

.im-o-app__main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
  flex-wrap: nowrap;
  padding: var(--primary-gap);
}

// ---------------------------------------------------
// Side: Panels only
// ---------------------------------------------------

.im-o-app__side .im-c-panel {
  height: 100%;

  @include tools.border-focus-base(
    $is-inset: true,
    $type: panel
  );

  @include tools.border-focus-corner-override(
    $corners: 'none'
  );
}

// ---------------------------------------------------
// Banner: Panels only
// ---------------------------------------------------

.im-o-app__banner {
  display: flex;
  flex-direction: column;
  gap: var(--divider-gap);
}

.im-o-app__banner .im-c-panel:last-child {
  margin-bottom: var(--divider-gap);
}

// ---------------------------------------------------
// Top: Includes a panel and buttons in colums
// ---------------------------------------------------

.im-o-app__top {
  display: flex;
  margin-bottom: auto;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: var(--divider-gap);
}

.im-o-app__top-col {
  display: flex;
  flex: 1 1 auto;
  gap: var(--divider-gap);
}

.im-o-app__top-col:not(:empty) {
  padding-bottom: var(--divider-gap);
}

.im-o-app__top-col:first-child,
.im-o-app__top-col:last-child {
  flex: 1 1 calc(var(--button-size) + (var(--primary-gap) * 2));
  max-width: var(--top-col-width, 100%);
}

.im-o-app__top-col:first-child {
  justify-content: flex-start;
}

.im-o-app__top-col:last-child {
  justify-content: flex-end;
}

.im-o-app__top-col:nth-child(2) {
  justify-content: center;
}

// ---------------------------------------------------
// Inset:
// ---------------------------------------------------

.im-o-app__inset {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: var(--divider-gap);
  top: var(--inset-offset-top);
}

.im-o-app__inset .im-c-panel {
  height: 100%;
  max-height: var(--inset-max-height);
}

// ---------------------------------------------------
// Middle:
// ---------------------------------------------------

.im-o-app__middle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; // Support masking the viewport
}

// ---------------------------------------------------
// Right: Buttons and inset panel
// ---------------------------------------------------

.im-o-app__right {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: var(--primary-gap);
  top: var(--right-offset-top);
  bottom: var(--right-offset-bottom);
}

.im-o-app__right-top {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-end;
  gap: var(--divider-gap);
}

.im-o-app__right-bottom {
  margin-top: auto;
}

// ---------------------------------------------------
// Footer: Logo, scalebar, copyright etc
// ---------------------------------------------------

.im-o-app__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: -2; // Support masking the viewport
}

.im-o-app__footer-col {
  display: flex;
  flex-direction: column;
  min-width: auto;
}

.im-o-app__footer-col:first-child {
  justify-content: flex-start;
  flex-shrink: 0;
}

.im-o-app__footer-col:last-child {
  flex: 1 1 auto;
  justify-content: flex-end;
  text-align: right;
  min-width: 0;
}

// ---------------------------------------------------
// Attributions:
// ---------------------------------------------------

.im-o-app__attributions:not(:empty) {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-top: var(--divider-gap);
  margin-bottom: calc(var(--primary-gap) * -1);
  margin-right: calc(var(--primary-gap) * -1);
}

// ---------------------------------------------------
// Bottom:
// ---------------------------------------------------

.im-o-app__bottom {
  z-index: 1;
}

// ---------------------------------------------------
// Actions:
// ---------------------------------------------------

.im-o-app__actions {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;

  .im-c-panel__body {
    overflow: visible;
  }
}

// ---------------------------------------------------
// Modal:
// ---------------------------------------------------

.im-o-app .im-o-app__modal { // Extra specificity required to force absolute position
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  // Panel overrides
  .im-c-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 1000;
  }

  .im-c-panel + .im-o-app__modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background-color);
    opacity: var(--modal-backdrop-opacity);
    pointer-events: auto;
  }

  .im-c-panel--side {
    width: 100%;
    max-width: 80%;

    @include tools.border-focus-base(
      $is-inset: true,
      $type: panel
    );
    @include tools.border-focus-corner-override(
      $corners: 'none'
    );
  }

  .im-c-panel--inset {
    top: var(--inset-offset-top);
    left: var(--primary-gap);
    max-width: calc(100% - (var(--primary-gap) * 2));
    max-height: calc(100% - var(--inset-offset-top) - var(--primary-gap));
  }

  .im-c-panel--middle {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: calc(100% - (var(--primary-gap) * 2));
    max-height: calc(100% - (var(--primary-gap) * 2));
  }

  .im-c-panel--bottom {
    top: auto;
    bottom: 0;
    max-height: 85%;
  }

  [class*="im-c-panel--"][class*="-button"] { // Adjacent to button
    top: var(--modal-inset);
    right: var(--modal-inset);
    bottom: var(--modal-inset);
    left: var(--modal-inset);
  }
}

// Mobile and tablet
.im-o-app--mobile, .im-o-app--tablet {
  .im-o-app__modal .im-c-panel--banner {
    margin: var(--primary-gap);
  }

  .im-o-app__banner {
    z-index: 9;
  }
}

// Desktop modal banner margin
.im-o-app--desktop .im-o-app__modal .im-c-panel--banner {
  margin-top: var(--primary-gap);
}

// 3. Modifiers

// Inline border
.im-o-app--inline {
  border: var(--app-border-width) solid var(--app-border-color);
}

// Hide containers when keyboard hint is visible
.im-o-app__main--keyboard-hint-visible {
  .im-o-app__top-col,
  .im-o-app__right,
  .im-o-app__right-bottom {
    opacity: 0;
  }
}

// Avoid refresh jump if layout clacs are not ready
.im-o-app__overlay--not-ready {
  visibility: hidden;
  opacity: 0;
}

// Banner on desktop
.im-o-app--desktop .im-c-panel--banner {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--banner-max-desktop-width);
}

// Actions inset when width is greater
.im-o-app--tablet, .im-o-app--desktop {
  .im-o-app__actions {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: calc(var(--primary-gap) * 2);
    padding-left: var(--offset-left);
    
    .im-c-panel {
      max-width: var(--action-bar-max-width);
    }
  }
}

// Bottom panels corners removed on mobile
.im-o-app--mobile .im-o-app__bottom,
.im-o-app--mobile .im-o-app__actions {
  margin: var(--primary-gap) calc(var(--primary-gap) * -1) calc(var(--primary-gap) * -1) calc(var(--primary-gap) * -1);

  .im-c-panel {
    width: 100%;

    @include tools.border-focus-corner-override(
      $corners: 'none'
    );
  }
}

.im-o-app--mobile .im-o-app__bottom .im-c-panel {
    clip-path: inset(-20px 0 0 0);
}

// 4. State styles

// 5. Responsive tweaks

.im-o-app--mobile .im-o-app__side {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 80%;
  pointer-events: none;
}