.im-c-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(var(--divider-gap) / 2);
  padding: var(--panel-margin);
  max-height: 200px;

  @media (prefers-reduced-motion: no-preference) {
    transition: max-height var(--duration) ease, opacity var(--duration) ease,
      padding-top var(--duration) ease, padding-bottom var(--duration) ease;
  }

  &--hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .im-c-button-wrapper--wide {
    display: flex;
    flex: 1 1 0;
  }

  .im-c-map-button--primary,
  .im-c-map-button--tertiary {
    width: 100%;
  }
}

.im-c-actions--border-top {
  border-top: 1px solid var(--app-border-color);
}

.im-o-app--tablet, .im-o-app--desktop {
  .im-c-actions {
    min-width: 0;
  }
}