@use '../../../scss/tools/index' as tools;

// ===================================================
// Component: ButtonWrapper
// ===================================================

// 1. Base styles
.im-c-button-wrapper {
    position: relative;
}

.im-c-button-wrapper .im-c-panel {
    position: absolute;
    right: calc(100% + var(--divider-gap));
    top: 0;
}

// ===================================================
// Component: MapButton
// ===================================================

// 1. Base styles
.im-c-map-button {
    @include tools.border-focus-base(
        // $is-inset: true,
        $type: button
    );

    & {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-left: var(--button-padding);
        padding-right: var(--button-padding);

        pointer-events: auto;
        color: var(--foreground-color);
        background-color: var(--button-background-color);

        width: max-content;
        min-height: var(--button-size);
        min-width: var(--button-size);

        user-select: none;
        cursor: pointer;
    }
}

.im-c-map-button svg {
    pointer-events: none;
    width: var(--icon-size);
    height: var(--icon-size);

    flex-shrink: 0;
}

.im-c-map-button svg + span {
    margin-left: var(--button-icon-label-offset);

    white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {
    .im-c-map-button:hover {
        @media (prefers-reduced-motion: no-preference) {
            transition: background-color var(--duration) ease;
        }

        & {
            background-color: var(--button-hover-color);
        }
    }
}

// 2. Elements

// 3. Modifiers

.im-c-map-button--with-label {
    padding-left: var(--label-button-padding);
    padding-right: var(--label-button-padding);
}

.im-c-map-button--primary {
    color: var(--background-color);
    background-color: var(--primary-button-color);
    box-shadow: var(--primary-button-box-shadow);
    span {
        white-space: nowrap;
        padding: 0px var(--button-icon-label-offset);
    }
    svg + span {
        padding-left: 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    .im-c-map-button--primary:hover {
        background-color: var(--primary-button-hover-color);
    }
}

.im-c-map-button--primary::before {
    box-shadow: none;
}

.im-c-map-button--tertiary {
    border: 1px solid var(--tertiary-button-border-color);
    box-shadow: var(--tertiary-button-box-shadow);
    span {
        white-space: nowrap;
        padding: 0px 5px;
    }
    svg + span {
        padding-left: 0;
    }
}

.im-c-map-button--tertiary::before {
    box-shadow: none;
}

.im-o-app__right {
    .im-c-button-wrapper--group-start,
    .im-c-button-wrapper--group-middle {
        margin-bottom: calc(-1 * var(--divider-gap));
    }
    .im-c-button-wrapper--group-start .im-c-map-button {
        @include tools.border-focus-corner-override($corners: 'top');
    }
    .im-c-button-wrapper--group-end .im-c-map-button {
        margin-top: 0;
        @include tools.border-focus-corner-override($corners: 'bottom');
    }
}

.im-o-app__top {
    .im-c-button-wrapper--group-start,
    .im-c-button-wrapper--group-middle {
        margin-right: calc(-1 * var(--divider-gap));
    }
    .im-c-button-wrapper--group-start .im-c-map-button {
        @include tools.border-focus-corner-override($corners: 'left');
    }
    .im-c-button-wrapper--group-end .im-c-map-button {
        @include tools.border-focus-corner-override($corners: 'right');
    }
}

// 4. State styles
.im-c-map-button[aria-disabled="true"]:not(.im-c-map-button--primary, .im-c-map-button--tertiary) {
    svg, span {
        opacity: var(--disabled-button-opacity);
    }
}

.im-c-map-button {
    &--primary[aria-disabled="true"], &--tertiary[aria-disabled="true"] {
        opacity: var(--disabled-button-opacity);
    }
}

.im-o-app__actions .im-c-map-button[aria-pressed="true"] {
    color: var(--pressed-button-foreground-color);
    border-color: var(--pressed-button-border-color);
    background-color: var(--pressed-button-background-color);
}

// 5. Responsive tweaks