// ===================================================
// Component: Panel
// ===================================================

@use '../../../scss/tools/index' as tools;

// 1. Base styles
.im-c-panel {
    @include tools.border-focus-base(
        $is-inset: false,
        $type: panel
    );

    & {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        min-width: var(--min-panel-width);
        pointer-events: auto;
        background-color: var(--background-color);
    }
}

// 2. Elements
.im-c-panel__heading {
    display: flex;
    padding:
        var(--panel-heading-margin-top)
        calc((var(--panel-close-button-gap) * 2) + var(--button-size))
        var(--panel-margin)
        var(--panel-margin);

    color: var(--foreground-color);
}

.im-c-panel__close {
    @include tools.border-focus-base(
        $is-inset: false,
        $type: button
    );

    & {
        border: 0;
        position: absolute;
        top: var(--panel-close-button-gap);
        right: var(--panel-close-button-gap);

        padding-left: var(--button-padding);
        padding-right: var(--button-padding);

        min-height: var(--button-size);
        min-width: var(--button-size);

        color: var(--foreground-color);
        background-color: transparent;
        cursor: pointer;
    }
}

.im-c-panel__body {
    padding: 0 var(--panel-margin) var(--panel-margin);
    overflow: auto;

    &[data-focus-visible="true"] {
        outline: var(--scrollable-outline);
        outline-offset: var(--scrollable-outline-offset);
        box-shadow: var(--scrollable-box-shadow);
    }
}

.im-c-panel__close::before {
    content: none;
}

.im-c-panel__close:hover {
    @media (prefers-reduced-motion: no-preference) {
        transition: background-color var(--duration) ease;
    }

    & {
        background-color: var(--button-hover-color);
    }
}

// 3. Modifiers
.im-o-app--mobile .im-c-panel--bottom {
    @include tools.border-focus-base(
        $is-inset: true,
        $type: panel
    );
    @include tools.border-focus-corner-override(
        $corners: 'top'
    );
}

// When banner heading is hidden we need to align with the close button
.im-o-app--desktop .im-c-panel--banner.im-c-panel--no-heading {
    .im-c-panel__close {
        top: var(--banner-close-button-gap);
        right: var(--banner-close-button-gap);
    }

    .im-c-panel__body--offset {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.im-c-panel__body--offset {
    padding-right: calc(var(--button-size) + var(--divider-gap));
}

// 4. State styles

// 5. Responsive tweaks