// ===================================================
// Component: KeyboardHelp
// ===================================================

// 1. Base styles

// 2. Elements
.im-c-keyboard-help__list {
    margin: 0;
    color: var(--foreground-color);
}

.im-c-keyboard-help__item {
    display: table;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid var(--content-border-color);
}

.im-c-keyboard-help__group:last-child .im-c-keyboard-help__item:last-child {
    padding-bottom: 0;
}

.im-c-keyboard-help__title {
    display: table-cell;
    width: 45%;
}

.im-c-keyboard-help__description {
    display: table-cell;
}

// 3. Modifiers
.im-o-app--mobile .im-c-keyboard-help__title {
    width: 100%;
    display: block;
}

.im-o-app--mobile .im-c-keyboard-help__description {
    display: block;
    margin-top: 5px;
}
